{% extends 'base.html' %}

{% load static %} <!-- cssを読み込むための記述 -->

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>{{ post.created_at }}</p>

  <a href="{% url 'blog:post_delete' post.pk %}">削除</a>

  <div class="post_btn">
    <a href="{% url 'blog:post_list' %}"><span class="toggle_btn"></span></a>
  </div>
{% endblock %}

<!-- cssを読み込むための記述 -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
<!-- ここまで -->